@rendermode InteractiveServer
@using Microsoft.VisualBasic
@using RestaurantOrderingSystem.Models
@using RestaurantOrderingSystem.Services
@inject MenuListService MenuListSvc
@inject CategoryService CategorySvc

<div>
    @if (groupedProducts == null)
    {
        <p>Loading...</p>
    } 
    else
    {
        @foreach (var group in groupedProducts!)
        {
            <h1>@group.Key</h1>

            <div class="row">
                @foreach (var p in group)
                {   

                    @* Grid Div *@
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">

                        @* Cards to Display Products(Itemns) on Menu List *@
                        
                        <div class="card h-100 shadow hover-scale" 
                            data-bs-toggle="modal" 
                            data-bs-target=".productModal"
                            @onclick="() => getProdIdAsString = p.Id.ToString()"
                        >

                            <div class="ratio ratio-1x1">
                                <img src="@p.ImageUrl" class="card-img-top object-fit-cover" alt="@p.Name" loading="lazy">
                            </div>

                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-center">@p.Name <span>$@p.Price</span></h5>
                            </div>

                        </div>
                    
                    </div>
                }
            </div>
        }

        <ProductModal prodId="@getProdIdAsString"/>
    }

</div>

<style>

    .hover-scale{
        transition: all 0.3s ease;
    }

    .hover-scale:hover{
        transform: scale(1.05) translateY(-5px);
    }

</style>

@code{
    private List<Product> products = new List<Product>();
    private List<Product> productsWithCategory = new List<Product>();
    private IEnumerable<IGrouping<string, Product>>? groupedProducts;
    private string? getProdIdAsString;
        
    protected override async Task OnInitializedAsync()
    {
        productsWithCategory = await MenuListSvc.GetAllProductsWithCategoryAsync();

        groupedProducts = productsWithCategory
            .Where(p => p.Category != null)
            .OrderBy(p => p.Category!.DisplayOrder)
            .ThenBy(p => p.Name)
            .GroupBy(p => p.Category!.Name);
    }

}
